@model IEnumerable<MessageBoard_2.Models.Thread.ThreadListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("+ New Thread", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Created
        </th>
        <th>
            Last post
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="threadlistitem">
        @Html.HiddenFor(modelItem => item.ThreadID)
        <td>
            @Html.ActionLink(item.Title, "Index", "Post", new { threadId = item.ThreadID.ToString() }, null) <!--Should to go post controller index(threadId)-->
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUTC) by <b>@Html.DisplayFor(modelItem => item.CreatorUsername)</b>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastPostUTC) by <b>@Html.DisplayFor(modelItem => item.LastPostCreatorUsername)</b>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCount)
        </td>
        <td>
            @if (User.IsInRole("Admin") || ViewBag.UserID == item.CreatorID)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ThreadID })<span> | </span>
                @Html.ActionLink("Details", "Details", new { id = item.ThreadID })<span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.ThreadID })
            }

        </td>
    </tr>
}

</table>
