@model MessageBoard_2.Models.Post.PostListItem

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Edit Post</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="container-fluid post">
            <div class="row databar">
                @*Data Row*@
                <div class="datestamp">
                    <span style="width:37%">
                        #1 - @Model.CreatedUTC)
                        @if (Model.ModifiedUTC != null)
                        {
                            <span> - (Modified @Model.ModifiedUTC)</span>
                        }
                    </span>
                    <span class="controls" style="position:relative; right:0px; width:61%">
                        <!--Should be empty-->
                    </span>
                </div>
            </div>
            <div class="row postmain match-my-cols">
                <div class="col-xs-2 creatorinfo">
                    <span style="font-weight:600">@Model.CreatorUsername</span><br />
                    @if (Model.CreatorAvaURL != null)
                    {
                        <img src="@Model.CreatorAvaURL" /><br />
                    }
                    <span>@Model.CreatorPostCount Posts | @Model.CreatorType</span>
                </div>
                <div class="col-xs-10 body">
                    <textarea name="Body" cols="50" style="width:100%;height:40vh;max-width:99999px;">@Model.Body</textarea>
                    @*@Html.TextAreaFor(model => Model.Body)*@
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => Model.CreatedUTC)
    @Html.HiddenFor(m => Model.CreatorAvaURL)
    @Html.HiddenFor(m => Model.CreatorID)
    @Html.HiddenFor(m => Model.CreatorPostCount)
    @Html.HiddenFor(m => Model.CreatorType)
    @Html.HiddenFor(m => Model.CreatorUsername)
    @Html.HiddenFor(m => Model.ModifiedUTC)
    @Html.HiddenFor(m => Model.PostID)
    @Html.HiddenFor(m => Model.ThreadID)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to thread", "Index", new { threadId = ViewBag.Thread})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
