@model IEnumerable<MessageBoard_2.Models.Post.PostListItem>

<h2>@ViewBag.Title</h2> <!--This page will need to be heavily redesigned.-->

<p>
    @Html.ActionLink("New Reply", "Create") | @Html.ActionLink("Back", "Index", "Thread")
</p>
<table class="table">
    @{
        int i = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td class="postbox" style="border-style:inset">
                <div class="container" style="border-style:inset">
                    <div class="row">
                        <div class="col-md-6">
                            <span>#</span>@i
                            <span> - </span>@Html.DisplayFor(modelItem => item.CreatedUTC)
                            @{
                                i++;
                            }
                        </div>
                        <div class="col-md-6" style="text-align:right">
                            @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PostID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="width:20%;display:inline-block">
                            @Html.DisplayFor(modelItem => item.CreatorUsername)
                        </div>
                        <div class="col-md-6" style="border-style:inset;display:inline-block">
                            @Html.DisplayFor(modelItem => item.Body)
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("New Reply", "Create") | @Html.ActionLink("Back", "Index", "Thread")
</p>