@model IEnumerable<MessageBoard_2.Models.Post.PostListItem>
<a id="top"></a>
<h2>Thread: "@ViewBag.Title"</h2>

<p>
    @Html.ActionLink("←Index", "Index", "Thread") | @Html.ActionLink("+ New Reply", "Create") | <a href="#new_reply">Jump to Bottom ↓↓</a>
</p>
@{
    int i = 1;
}
@foreach (var item in Model)
{
    <div class="container-fluid post">
        <div class="row databar">
            @*Data Row*@
            <div class="datestamp" style="width:100%; display:flex">
                <span style="width:37%">
                    #@i - @Html.DisplayFor(modelItem => item.CreatedUTC)
                    @if (item.ModifiedUTC != null)
                    {
                        <span> - (Modified @Html.DisplayFor(modelItem => item.ModifiedUTC))</span>
                    }
                </span>
                <span class="controls" style="position:relative; right:0px; width:61%">
                    @if (User.IsInRole("Admin") || ViewBag.UserID == item.CreatorID)
                    {
                        <span>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PostID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                        </span>
                    }
                </span>
            </div>
        </div>
        <div class="row postmain match-my-cols">
            <div class="col-xs-2 info">
                <span>@Html.DisplayFor(modelItem => item.CreatorUsername)</span>
            </div>
            <div class="col-xs-10 body">
                @Html.DisplayFor(modelItem => item.Body)
            </div>
        </div>
    </div>
    i++;
}
<br />
<div id="new_reply" class="newreply">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="border-style:inset;">
            <textarea name="body" placeholder="New reply..." rows="4"></textarea>
        </div>
        <br />
        <input type="submit" value="Post" />
    }
</div>

<p>
    @Html.ActionLink("←Index", "Index", "Thread") | @Html.ActionLink("+ New Reply", "Create") | <a href="#top">Jump to Top ↑↑</a>
</p>