@model IEnumerable<MessageBoard_2.Models.Section.SectionListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("ResultSaved"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["ResultSaved"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Index", "Thread", new { sectionId = item.SectionID }, "") <!--Should to go post controller index(threadId)-->
                @Html.HiddenFor(modelItem => item.SectionID)

                <!--Html.ActionLink(item.Title, "Index", "Thread")-->
                <!--ActionLink(Link text, Action, Controller)-->
                <!--Will be replaced with this once the other controller is ready.-->
            </td>
            <td>
                @if (this.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.SectionID }) <span>|</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SectionID }) <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.SectionID })
                }
            </td>
        </tr>
    }

</table>
